<!-- Changed Twitter/Facebook font icons-->  
<a class="twitter" href="https://twitter.com/intent/tweet?text={{ .Permalink }} - {{ .LinkTitle }} {{ with .Site.Params.twitter }}by @{{ . }}{{ end }}"><span class="fab fa-twitter-square"> {{ .Site.Params.tweet | default "tweet" }}</span></a>

<a class="facebook" href="#" onclick="
    window.open(
      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
      'facebook-share-dialog',
      'width=626,height=436');
    
    return false;"><span class="fab fa-facebook-square"> {{ .Site.Params.share | default "Share" }}</span>
</a>
